{% extends "layout.html" %}
{% block body %}

<head>
    <title>Reviewer</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
        }

        .main-content {
            margin: 100px;
        }
    </style>

<body>
    <div class="main-content">
        <p style="color: black; font-size: 15px ">
            <b>Prof. (Dr.) Abdelmonaim Fakhry Kamel mohammed</b> <br>
                <b>Ain shams university - Egypt</b> <br>
                    <b>abdelmonaimfakhry601@gmail.com</b> <br> <br>
            <b>Prof. (Dr.) Abdelmonaim Fakhry Kamel mohammed</b> <br>
                <b>Ain shams university - Egypt</b> <br>
                    <b>abdelmonaimfakhry601@gmail.com</b> <br> <br>
            <b>Prof. (Dr.) Abdelmonaim Fakhry Kamel mohammed</b> <br>
                <b>Ain shams university - Egypt</b> <br>
                    <b>abdelmonaimfakhry601@gmail.com</b> <br> <br>
            <b>Prof. (Dr.) Abdelmonaim Fakhry Kamel mohammed</b> <br>
                <b>Ain shams university - Egypt</b> <br>
                    <b>abdelmonaimfakhry601@gmail.com</b> <br> <br>
            <b>Prof. (Dr.) Abdelmonaim Fakhry Kamel mohammed</b> <br>
                <b>Ain shams university - Egypt</b> <br>
                    <b>abdelmonaimfakhry601@gmail.com</b> <br> <br>
            <b>Prof. (Dr.) Abdelmonaim Fakhry Kamel mohammed</b> <br>
                <b>Ain shams university - Egypt</b> <br>
                    <b>abdelmonaimfakhry601@gmail.com</b> <br> <br>
            <b>Prof. (Dr.) Abdelmonaim Fakhry Kamel mohammed</b> <br>
                <b>Ain shams university - Egypt</b> <br>
                    <b>abdelmonaimfakhry601@gmail.com</b> <br> <br>
            <b>Prof. (Dr.) Abdelmonaim Fakhry Kamel mohammed</b> <br>
                <b>Ain shams university - Egypt</b> <br>
                    <b>abdelmonaimfakhry601@gmail.com</b> <br> <br>
            <b>Prof. (Dr.) Abdelmonaim Fakhry Kamel mohammed</b> <br>
                <b>Ain shams university - Egypt</b> <br>
                    <b>abdelmonaimfakhry601@gmail.com</b> <br> <br>
            <b>Prof. (Dr.) Abdelmonaim Fakhry Kamel mohammed</b> <br>
                <b>Ain shams university - Egypt</b> <br>
                    <b>abdelmonaimfakhry601@gmail.com</b> <br> <br>
            <b>Prof. (Dr.) Abdelmonaim Fakhry Kamel mohammed</b> <br>
                <b>Ain shams university - Egypt</b> <br>
                    <b>abdelmonaimfakhry601@gmail.com</b> <br> <br>
            <b>Prof. (Dr.) Abdelmonaim Fakhry Kamel mohammed</b> <br>
                <b>Ain shams university - Egypt</b> <br>
                    <b>abdelmonaimfakhry601@gmail.com</b> <br> <br>
            <b>Prof. (Dr.) Abdelmonaim Fakhry Kamel mohammed</b> <br>
                <b>Ain shams university - Egypt</b> <br>
                    <b>abdelmonaimfakhry601@gmail.com</b> <br> <br>
            <b>Prof. (Dr.) Abdelmonaim Fakhry Kamel mohammed</b> <br>
                <b>Ain shams university - Egypt</b> <br>
                    <b>abdelmonaimfakhry601@gmail.com</b> <br> <br>
            <b>Prof. (Dr.) Abdelmonaim Fakhry Kamel mohammed</b> <br>
                <b>Ain shams university - Egypt</b> <br>
                    <b>abdelmonaimfakhry601@gmail.com</b> <br> <br>
            <b>Prof. (Dr.) Abdelmonaim Fakhry Kamel mohammed</b> <br>
                <b>Ain shams university - Egypt</b> <br>
                    <b>abdelmonaimfakhry601@gmail.com</b> <br> <br>
            <b>Prof. (Dr.) Abdelmonaim Fakhry Kamel mohammed</b> <br>
                <b>Ain shams university - Egypt</b> <br>
                    <b>abdelmonaimfakhry601@gmail.com</b> <br> <br>
            <b>Prof. (Dr.) Abdelmonaim Fakhry Kamel mohammed</b> <br>
                <b>Ain shams university - Egypt</b> <br>
                    <b>abdelmonaimfakhry601@gmail.com</b> <br> <br>
            <b>Prof. (Dr.) Abdelmonaim Fakhry Kamel mohammed</b> <br>
                <b>Ain shams university - Egypt</b> <br>
                    <b>abdelmonaimfakhry601@gmail.com</b> <br> <br>
            <b>Prof. (Dr.) Abdelmonaim Fakhry Kamel mohammed</b> <br>
                <b>Ain shams university - Egypt</b> <br>
                    <b>abdelmonaimfakhry601@gmail.com</b> <br> <br>
            <b>Prof. (Dr.) Abdelmonaim Fakhry Kamel mohammed</b> <br>
                <b>Ain shams university - Egypt</b> <br>
                    <b>abdelmonaimfakhry601@gmail.com</b> <br> <br>
            <b>Prof. (Dr.) Abdelmonaim Fakhry Kamel mohammed</b> <br>
                <b>Ain shams university - Egypt</b> <br>
                    <b>abdelmonaimfakhry601@gmail.com</b> <br> <br>
            <b>Prof. (Dr.) Abdelmonaim Fakhry Kamel mohammed</b> <br>
                <b>Ain shams university - Egypt</b> <br>
                    <b>abdelmonaimfakhry601@gmail.com</b> <br> <br>
            <b>Prof. (Dr.) Abdelmonaim Fakhry Kamel mohammed</b> <br>
                <b>Ain shams university - Egypt</b> <br>
                    <b>abdelmonaimfakhry601@gmail.com</b> <br> <br>
            <b>Prof. (Dr.) Abdelmonaim Fakhry Kamel mohammed</b> <br>
                <b>Ain shams university - Egypt</b> <br>
                    <b>abdelmonaimfakhry601@gmail.com</b> <br> <br>
            <b>Prof. (Dr.) Abdelmonaim Fakhry Kamel mohammed</b> <br>
                <b>Ain shams university - Egypt</b> <br>
                    <b>abdelmonaimfakhry601@gmail.com</b> <br> <br>
            <b>Prof. (Dr.) Abdelmonaim Fakhry Kamel mohammed</b> <br>
                <b>Ain shams university - Egypt</b> <br>
                    <b>abdelmonaimfakhry601@gmail.com</b> <br> <br>

        </p>
    </div>
</body>

</head>


{% endblock %}