{% extends "layout.html" %}
{% block body %}
<head>
    <style>
        section {
            margin: 20px;
            padding: 20px;
            color: black;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }
    </style>
<title>Archive {% if journal %}{{ journal.name }}{% endif %}</title>
</head>
<body>
    <section>
        {% if active_volumes %}
            {% for volume in active_volumes %}
                <p>Volume- {{ volume.volumeNumber }}: {{ volume.title }}</p>
                <hr>
            {% endfor %}
        {% else %}
            <p style="text-align: center;">{{ error_message or "No active volumes found for this journal." }}</p>
        {% endif %}
    </section>
</body>
{% endblock %}