{% extends "layout.html" %}
{% block body %}
<head>
    <style>
        section {
            margin: 20px;
            padding: 20px;
            color: black;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }
    </style>
<title>Archive 2024</title>
</head>
<body>
    
         <section>
             {% for volumeNumber, title in active_volumes %}
                 <p><a href="/current_issue.html" style="color: black; text-decoration: none;">Volume {{ volumeNumber }}: {{ title }}</a></p> <hr>
             {% endfor %}
         </section>
    
</body>

{% endblock %} 