{% extends "layout.html" %}
{% block body %}
<head>
    <style>
        section {
            margin: 20px;
            padding: 20px;
            color: black;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }
    </style>
    <title>Volume Issues</title>
</head>
<body>
    <section class="issues-container">
        {% if issues %}
            {% for issue in issues %}
                <div class="issue">
                    <p><strong>Issue-{{ issue.issue_number }}: {{ issue.title }}</strong></p>
                    <p>From : {{ issue.from_date }}</p>
                    <p>To : {{ issue.to_date }}</p>
                    <hr>
                </div>
            {% endfor %}
        {% else %}
            <p class="no-issues">{{ error_message or "No issues found for this volume." }}</p>
        {% endif %}
    </section>
</body>
{% endblock %}
