{% extends "layout.html" %}
{% block body %}

<style>
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        background-color: #edeff4;
    }

    .main-content {
        margin: 20px;
    }

    header {
        text-align: center;
        padding: 10px;
        background-color: #004080;
        color: white;
    }

    h1 {
        margin: 0;
        font-size: 2em;
        color: white;
    }

    section {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    h4 {
        color: black;
    }

    section p {
        color: black;
    }

    ul {
        list-style-type: disc;
        margin-left: 20px;
    }

    li {
        color: black;
    }
    .custom-link {
        color: black; /* Default link color */
        text-decoration: none; /* Remove underline */
    }
    
    .custom-link:hover {
        color: #033e93;/* Color on hover */
        text-decoration: none;/* Remove underline on hover */
    }
</style>
<title>Peer Revies Process</title>
</head>

<body>
    <div class="main-content">
        <header>
            <h1>Peer Revies Process</h1>
        </header>

        <section>
            <h4>All submitted research papers shall be gone under double-blind peer review process.</h4>
            <h4>Online Submission System:</h4>
            <p>
                It is advised to all contributors that they should submit their original articles by using online
                submission link. In case of any difficulty, they can send their papers using Email: <a
                    href="mailto:support@janolijournals.org" class="custom-link"> support@janolijournals.org</a>, Ensure
                that author identities are hidden in the manuscript itself.
            </p>
        </section>

        <section>
            <h4>Review Process:</h4>
            <p>
                Upon submission, the editorial team will review the anonymized manuscripts for completeness and
                adherence to the journal's guidelines. The editor assigns manuscripts to reviewers without revealing
                author identities.
            </p>
            <h4>Review and Recommendation:</h4>
            <p>
                Reviewers provide their assessments and recommendations based on the content of the manuscript. They
                submit their recommendations to the editor through a secure online system or via email without revealing
                their identities to the authors.
            </p>

            <h4>Editorial Decision:</h4>
            <p>
                As per the policy of JANOLI International Journals, the editor makes a final decision regarding the
                manuscript based on the reviews. Authors receive feedback from the reviewers and the editor without
                knowing the reviewers' identities.
            </p>

            <h4>Author Revisions:</h4>
            <p>
                If revisions are required, authors are guided to make revisions to their manuscript without knowing the
                reviewers' identities.
            </p>

            <h4>Editorial Transparency:</h4>
            <p>
                JANOLI International Journals is committed to maintain transparency by ensuring the confidentiality of
                both authors and reviewers. Only the editorial team and relevant staff should have access to this
                information.
            </p>

            <h4>Publication:</h4>
            <p>
                Once a manuscript is accepted by JANOLI International Journals, author identities shall be revealed in
                the final published version.
            </p>

            <h4>Ongoing Monitoring:</h4>
            <p>
                JANOLI International Journals is continuously monitoring the double-blind review process to ensure that
                it remains effective and fair, and make adjustments as needed.
            </p>
        </section>

        <section>
            <h4>Reviewer Guidelines:</h4>
            <p>
                Our commitment to academic rigor is unwavering. All submissions to JANOLI undergo a rigorous peer-review
                process, ensuring the highest quality and credibility of published content. Join us in this intellectual
                journey to advance knowledge, solve real-world challenges, and inspire positive change in economics and
                management. We look forward to welcoming a diverse community of scholars and practitioners who share our
                passion for these dynamic and influential fields.
            </p>
            <h4>Guidelines:</h4>
            <ul>
                <li>After receiving the invitation, the reviewer must confirm their availability to complete the review
                    within the specified time frame.</li>
                <li>Reviewers can inform whether they want to approve or decline the invitation. If unable to accept,
                    they may recommend a colleague to the editor, who may extend an invitation to the suggested
                    individual. Transferring the invitation is optional.</li>
                <li>Articles are assigned based on the reviewer's scientific priorities and research interests. If the
                    manuscript is outside their expertise, they should contact the editorial office.</li>
                <li>If there is a time conflict or a conflict of interest after the manuscript is assigned, the reviewer
                    can inform the editorial office and either request an extension or cancel the assignment.</li>
                <li>Reviewers should assess whether the manuscript fits within the journal's framework and remain
                    impartial while reading it.</li>
                <li>The manuscript should be analyzed and evaluated within the given timeframe to ensure timely
                    completion of the process.</li>
                <li>If the manuscript is found to be outside the scope during the review, the reviewer should notify the
                    editorial office.</li>
                <li>Reviews are conducted blindly, preventing direct or indirect contact with the author by the
                    reviewer.</li>
                <li>Reviewers are asked to avoid using manuscript details for personal gain and ensure the information
                    remains confidential and secure.</li>
                <li>Criticism should be objective and dispassionate, avoiding insulting or offensive remarks.</li>
                <li>Reviewers are expected to provide confidential remarks and consult with the publisher regarding
                    whether the work should be accepted, rejected, or revised. Reviews should not be influenced by race,
                    religion, nationality, class, language, birthplace, gender, or government agencies.</li>
                <li>To become a reviewer, individuals are invited to send their CV and the publication they are
                    interested in to the publisher for consideration.</li>
            </ul>

        </section>
    </div>
</body>


{% endblock %}