{% extends "layout.html" %}
{% block body %}
<title>Home</title>

<!-- Featured News Slider Start -->
<div class="container-fluid pt-5 mb-3">
    <div class="container">
        <div class="section-title">
            <h4 class="m-0 text-uppercase font-weight-bold">Featured Journals</h4>
        </div>
        <div class="owl-carousel news-carousel carousel-item-4 position-relative">
            <div class="position-relative overflow-hidden" style="height: 300px;">
                <img class="img-fluid h-100" src="{{ url_for('static', filename='img/news-700x435-1.jpg') }}"
                    style="object-fit: cover;">
                <div class="overlay">
                    <div class="mb-2">
                        <a class="text-white" href=""><small>Jan 01, 2045</small></a>
                    </div>
                    <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="">Lorem ipsum dolor sit amet
                        elit...</a>
                </div>
            </div>
            <div class="position-relative overflow-hidden" style="height: 300px;">
                <img class="img-fluid h-100" src="{{ url_for('static', filename='img/news-700x435-2.jpg') }}"
                    style="object-fit: cover;">
                <div class="overlay">
                    <div class="mb-2">
                        <a class="text-white" href=""><small>Jan 01, 2045</small></a>
                    </div>
                    <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="">Lorem ipsum dolor sit amet
                        elit...</a>
                </div>
            </div>
            <div class="position-relative overflow-hidden" style="height: 300px;">
                <img class="img-fluid h-100" src="{{ url_for('static', filename='img/news-700x435-3.jpg') }}"
                    style="object-fit: cover;">
                <div class="overlay">
                    <div class="mb-2">
                        <a class="text-white" href=""><small>Jan 01, 2045</small></a>
                    </div>
                    <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="">Lorem ipsum dolor sit amet
                        elit...</a>
                </div>
            </div>
            <div class="position-relative overflow-hidden" style="height: 300px;">
                <img class="img-fluid h-100" src="{{ url_for('static', filename='img/news-700x435-4.jpg') }}"
                    style="object-fit: cover;">
                <div class="overlay">
                    <div class="mb-2">
                        <a class="text-white" href=""><small>Jan 01, 2045</small></a>
                    </div>
                    <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="">Lorem ipsum dolor sit amet
                        elit...</a>
                </div>
            </div>
            <div class="position-relative overflow-hidden" style="height: 300px;">
                <img class="img-fluid h-100" src="{{ url_for('static', filename='img/news-700x435-5.jpg') }}"
                    style="object-fit: cover;">
                <div class="overlay">
                    <div class="mb-2">
                        <a class="text-white" href=""><small>Jan 01, 2045</small></a>
                    </div>
                    <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="">Lorem ipsum dolor sit amet
                        elit...</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featured News Slider End -->


<!-- News With Sidebar Start -->
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h4 class="m-0 text-uppercase font-weight-bold">Welcome To Journal</h4>
                        </div>
                    </div>

                    <div style="color: black;">
                        {{ content | safe }}
                    </div>

                </div>
            </div>

            <div class="col-lg-4">
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h5 class="m-0 text-uppercase font-weight-bold">Publication Information</h5>
                    </div>
                    <div class="bg-white text-left border border-top-0 p-3" style="margin-left: 15px;">
                        <p style="color: #31404B">
                            <i class="fas fa-cube"></i>
                            <b>Publisher</b> <br>
                            Dr. Narendra Kumar <br>
                            <a href="/about_jrnl.html" style="color: #033e93; text-decoration: none;">Shanti Educational
                                Research Foundation, India</a> <br> <br>
                            Vitthal Namdev Nagar, Opp Jain Temple Sanganer Sanganer Bazar Jaipur 302029 Rajasthan
                            (India)
                        </p>
                        <hr>
                        <p style="color: #31404B">
                            <i class="fas fa-cube"></i>
                            <b>Patron</b> <br>
                            Prof.(Dr.) Dorota Jelonek <br> <br>
                            Faculty of Management, Czestochowa University of Technology, Poland <br> <br>
                            Email: <a href="mailto:dorota.jelonek@pcz.pl"
                                style="color: #033e93;text-decoration: none;">dorota.jelonek@pcz.pl</a>
                        </p>
                        <hr>
                        <p style="color: #31404B">
                            <i class="fas fa-cube"></i>
                            <b>Chief Editor</b> <br>
                            {% if chief_editor_name %}
                            {% for chief in chief_editor_name %}
                            <a href="/editorial_board.html" style="color: #033e93;text-decoration: none;">{{ chief }}</a> <br>
                            {% endfor %}
                            {% else %}
                                <p>No Chief Editor found.</p>
                            {% endif %}
                        </p>

                        <p style="color: #31404B">
                            <i class="fas fa-cube"></i>
                            <b> Associate Editors</b> <br>
                            {% if associate_editors %}
                            {% for associate in associate_editors %}
                            <a href="/editorial_board.html"
                                style="color: #033e93;text-decoration: none;">{{ associate }}</a> <br>
                            {% endfor %}
                            {% else %}
                            <p>No Associate Editors found.</p>
                            {% endif %}
                        </p>

                        <p style="color: #31404B">
                            <i class="fas fa-cube"></i>
                            <b>Editors</b> <br>
                            {% if editors %}
                            {% for editor in editors %}
                            <a href="/editorial_board.html" style="color: #033e93;text-decoration: none;">{{ editor }}</a> <br>
                            {% endfor %}
                            {% else %}
                        <p>No Editors found.</p>
                        {% endif %}
                        </p>
                        
                    </div>
                </div>

                <!-- Quick Links Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h5 class="m-0 text-uppercase font-weight-bold">Quick Links</h5>
                    </div>
                    <div class="bg-white border border-top-0 p-3">
                        <div class="d-flex flex-column">
                            <a href="#" class="mb-2" style="color: #000000; text-decoration: none;"
                                onmouseover="this.style.color='#033e93'" onmouseout="this.style.color='#000000'"><i
                                    class="fas fa-link mr-2"></i>Publication Ethics</a>
                            <a href="#" class="mb-2" style="color: #000000; text-decoration: none;"
                                onmouseover="this.style.color='#033e93'" onmouseout="this.style.color='#000000'"><i
                                    class="fas fa-link mr-2"></i>Editorial Board</a>
                            <a href="#" class="mb-2" style="color: #000000; text-decoration: none;"
                                onmouseover="this.style.color='#033e93'" onmouseout="this.style.color='#000000'"><i
                                    class="fas fa-link mr-2"></i>Archives</a>
                            <a href="#" class="mb-2" style="color: #000000; text-decoration: none;"
                                onmouseover="this.style.color='#033e93'" onmouseout="this.style.color='#000000'"><i
                                    class="fas fa-link mr-2"></i>Author Guidelines</a>
                            <a href="#" class="mb-2" style="color: #000000; text-decoration: none;"
                                onmouseover="this.style.color='#033e93'" onmouseout="this.style.color='#000000'"><i
                                    class="fas fa-link mr-2"></i>Reviewer Guidelines</a>
                            <a href="#" class="mb-2" style="color: #000000; text-decoration: none;"
                                onmouseover="this.style.color='#033e93'" onmouseout="this.style.color='#000000'"><i
                                    class="fas fa-link mr-2"></i>Copyright</a>
                        </div>
                    </div>
                </div>
                <!-- Quick Links End -->


                <!-- Articles in Press Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h5 class="m-0 text-uppercase font-weight-bold">Articles in Press</h5>
                    </div>
                    <div class="bg-white border border-top-0 p-3">
                        <div class="d-flex flex-column">
                            <a href="/current_issue.html" class="mb-2" style="color: #000000; text-decoration: none;"
                                onmouseover="this.style.color='#033e93'" onmouseout="this.style.color='#000000'"><i
                                    class="fas fa-link mr-2"></i>Current Issue</a>
                        </div>
                    </div>
                </div>
                <!-- Articles in Press End -->

                <!-- Table Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h5 class="m-0 text-uppercase font-weight-bold">JANOLI International Journals</h5>
                    </div>
                    <div class="bg-white border border-top-0 p-3">
                        <h6 class="m-0 text-uppercase font-weight-bold">Facts and Figures</h6>
                        <table class="table table-bordered mt-3" style="color: #31404b;">
                            <tbody>
                                <tr onmouseover="this.style.backgroundColor='#e6f2ff'"
                                    onmouseout="this.style.backgroundColor=''">
                                    <td>Issue Per Year</td>
                                    <td>02</td>
                                </tr>
                                <tr onmouseover="this.style.backgroundColor='#e6f2ff'"
                                    onmouseout="this.style.backgroundColor=''">
                                    <td>Number of Volumes</td>
                                    <td>02</td>
                                </tr>
                                <tr onmouseover="this.style.backgroundColor='#e6f2ff'"
                                    onmouseout="this.style.backgroundColor=''">
                                    <td>Number of Issues</td>
                                    <td>01</td>
                                </tr>
                                <tr onmouseover="this.style.backgroundColor='#e6f2ff'"
                                    onmouseout="this.style.backgroundColor=''">
                                    <td>Number of Articles</td>
                                    <td>05</td>
                                </tr>
                                <tr onmouseover="this.style.backgroundColor='#e6f2ff'"
                                    onmouseout="this.style.backgroundColor=''">
                                    <td>Number of Contributors</td>
                                    <td>10</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Table End -->

                <!-- General Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h5 class="m-0 text-uppercase font-weight-bold">General</h5>
                    </div>

                    <div class="bg-white border border-top-0 p-3">
                        <div class="d-flex flex-column">
                            <div class="mb-3 d-flex align-items-center">
                                <div style="color: #31404b; width: 150px;"><i class="fas fa-cube mr-2"></i>Mode:</div>
                                <div style="color: #31404b;">Online</div>
                            </div>
                            <div class="mb-3 d-flex align-items-center">
                                <div style="color: #31404b; width: 150px;"><i class="fas fa-cube mr-2"></i>Language:
                                </div>
                                <div style="color: #31404b;">English</div>
                            </div>
                            <div class="d-flex align-items-center">
                                <div style="color: #31404b; width: 150px;"><i class="fas fa-cube mr-2"></i>Frequency:
                                </div>
                                <div style="color: #31404b;">Half Yearly</div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- General End -->
        </div>
    </div>
</div>
</div>
<!-- News With Sidebar End -->
{% endblock %}